<div class="devise">
  <div class="form_wrap">
    <h2>Torus</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h3>アカウントの作成</h3>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(半角英数#{@minimum_password_length}文字以上)" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "同じパスワードをもう一度" %>
      </div>
    
      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>