<div class="devise">
  <div class="form_wrap">
    <h2>Torus</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3>ログイン</h3>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <label>ログイン状態を継続しておく</label>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>  
</div>
